.movieList {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin: 20px;
}

.movieItem {
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.movieItem a {
  text-decoration: none;
  color: inherit;
}

.moviePoster {
  width: 100%;
  height: 300px; /* Фіксована висота для зображень */
  object-fit: cover; /* Обрізати зображення, щоб заповнити контейнер */
  display: block;
}

.movieTitle {
  padding: 10px;
  font-weight: bold;
}